node_modules
vendor
.git
.env
.env.*
*.md
.gitignore
.gitattributes
.DS_Store
storage/framework/views/*.php
storage/framework/cache/data/*
storage/logs/*.log
storage/app/public/*
docker-entrypoint.sh
deploy
